$bg-gradient: linear-gradient(45deg, rgb(248, 131, 199), rgb(153, 11, 248));
$primary-color: rgb(153, 11, 248);
$secondary-color: rgb(248, 131, 199);
$btn-shadow: rgb(241, 116, 189);
$check: rgb(173, 72, 240);
$border: rgb(233, 222, 222);
