@use 'config' as *;

* {
  padding: 0;
  margin: 0;
}

body {
  background: $bg-gradient;
  background-size: 200%;
  animation: bg-animation 5s infinite alternate;
  overflow: hidden;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;

  // Task Page
  .box-container {
    background: linear-gradient(white 60%, rgb(209, 200, 200));
    height: 750px;
    width: 600px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: scroll;
    position: relative;

    .header {
      text-align: center;
      padding-top: 0.5rem;
      font-family: 'Zilla Slab', serif;
      position: sticky;
      top: 0;
      background-color: #fff;
    }

    .tasks {
      .task-list {
        list-style: none;

        .task {
          display: flex;
          align-items: center;
          border-bottom: $border 0.5px solid;
          line-height: 1.2;
          margin: 0 1rem;
          padding: 0.5rem 0;

          input[type='checkbox'] {
            appearance: none;
            -webkit-appearance: none;
            width: 1.2rem;
            height: 1.2rem;
            background-color: #fff;
            border-radius: 50%;
            border: $primary-color solid 2px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;

            &::after {
              font-family: 'Font Awesome 5 Free';
              font-weight: 900;
              content: '\f00c';
              height: 1rem;
              width: 1rem;
              background-color: #fff;
              border-radius: 50%;
              color: $primary-color;
              display: none;
            }

            &:checked {
              background-color: $check;

              &::after {
                display: block;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }

          .new-task {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 1rem;
            font-family: 'Edu NSW ACT Foundation', cursive;
            font-size: 1.5rem;
            width: 33rem;

            .text {
              flex: 8;
            }

            .due-date {
              font-family: 'Zilla Slab', serif;
              font-size: 1rem;
              font-weight: bold;
              white-space: nowrap;
              flex: 1;
            }

            .delete-btn {
              background-color: transparent;
              border: none;
              color: grey;
              font-size: 1rem;
              cursor: pointer;
              flex: 1;

              &:hover {
                color: red;
              }
            }
          }
        }
      }
    }

    .primary-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      .add-btn {
        background: linear-gradient($secondary-color, $btn-shadow);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        font-size: 2rem;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: absolute;
        top: 600px;
        cursor: pointer;
      }
    }
  }

  // Upload Modal Page
  .upload-page {
    position: absolute;

    .modal-container {
      background-color: #fff;
      height: 750px;
      width: 600px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      box-sizing: border-box;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;

      .exit-page {
        display: flex;
        justify-content: flex-end;

        .close-modal-btn {
          background-color: transparent;
          border: none;
          padding-top: 1.5rem;
          font-size: 1rem;
          cursor: pointer;

          &:hover {
            color: $primary-color;
          }
        }
      }

      #form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 400px;
        margin-bottom: 8rem;

        .form-data {
          font-family: 'Zilla Slab', serif;
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          margin-bottom: 3rem;
          padding-bottom: 3rem;
          border-bottom: $border 0.5px solid;

          &:last-child {
            border-bottom: none;
          }

          label {
            font-size: 1.7rem;
          }

          .upload-input {
            width: 20rem;
            border-color: $border;
            border-radius: 5px;
            outline: none;
            font-family: 'Zilla Slab', serif;
            font-weight: bold;
            font-size: 1rem;
          }
        }
      }
    }

    .modal-btn {
      display: flex;
      justify-content: center;

      .upload-btn {
        box-sizing: border-box;
        padding: 1rem 2rem;
        font-size: 1.7rem;
        background: linear-gradient($secondary-color, $btn-shadow);
        border: none;
        color: #fff;
        font-family: 'Zilla Slab', serif;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////////
// Media Queries

// Tablets

// iPad
@media (max-width: 768px) and (max-height: 1024px) {
  #main {
    .box-container {
      width: 700px;
      height: 1000px;

      .header {
        font-size: 1.4rem;
      }
      .tasks {
        .task-list {
          .task {
            input[type='checkbox'] {
              width: 1.4rem;
              height: 1.4rem;
              border: $primary-color solid 1.5px;

              &::after {
                width: 1.2rem;
                height: 1.2rem;
              }
            }

            .new-task {
              font-size: 1.5rem;
              padding-left: 0.6rem;
              width: 70rem;

              .due-date {
                font-size: 1rem;
              }

              .delete-btn {
                font-size: 1rem;
              }
            }
          }
        }
      }

      .primary-btn {
        .add-btn {
          top: 900px;
          height: 60px;
          width: 60px;
          font-size: 2rem;
        }
      }
    }

    .upload-page {
      .modal-container {
        width: 700px;
        height: 1000px;

        #form {
          margin-bottom: 20rem;
          .form-data {
            label {
              font-size: 2rem;
            }

            .upload-input {
              width: 27rem;
              font-size: 1rem;
            }
          }
        }
      }

      .modal-btn {
        .upload-btn {
          font-size: 2rem;
          padding: 0.7rem 1rem;
        }
      }
    }
  }
}

// Mobile

// iPhone 6/7/8 PLUS + XR
@media (max-width: 420px) and (max-height: 900px) {
  #main {
    .box-container {
      width: 350px;
      height: 700px;

      .header {
        font-size: 0.9rem;
      }
      .tasks {
        .task-list {
          .task {
            input[type='checkbox'] {
              width: 1.7rem;
              height: 1rem;
              border: $primary-color solid 1.5px;

              &::after {
                width: 0.85rem;
                height: 0.85rem;
              }
            }

            .new-task {
              font-size: 1.1rem;
              padding-left: 0.6rem;

              .due-date {
                font-size: 0.6rem;
              }

              .delete-btn {
                font-size: 0.7rem;
              }
            }
          }
        }
      }

      .primary-btn {
        .add-btn {
          top: 600px;
          height: 40px;
          width: 40px;
          font-size: 1.6rem;
        }
      }
    }

    .upload-page {
      .modal-container {
        width: 350px;
        height: 700px;

        #form {
          margin-bottom: 8rem;
          .form-data {
            label {
              font-size: 1.4rem;
            }

            .upload-input {
              width: 9rem;
              font-size: 1rem;
            }
          }
        }
      }

      .modal-btn {
        .upload-btn {
          font-size: 1.5rem;
          padding: 0.7rem 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

// iPhone X/12 Pro
@media (max-width: 390px), (max-height: 850px) {
  #main {
    .box-container {
      width: 350px;
      height: 700px;

      .primary-btn {
        .add-btn {
          top: 600px;
        }
      }
    }

    .upload-page {
      .modal-container {
        width: 350px;
        height: 700px;

        #form {
          margin-bottom: 3rem;
          .form-data {
            label {
              font-size: 1.2rem;
            }

            .upload-input {
              width: 10rem;
            }
          }
        }
      }
    }
  }
}

// iPhone 4/5/6/7/8
@media (max-width: 400px) and (max-height: 700px) {
  #main {
    .box-container {
      width: 300px;
      height: 450px;

      .header {
        font-size: 0.9rem;
      }
      .tasks {
        .task-list {
          .task {
            input[type='checkbox'] {
              width: 1.7rem;
              height: 1rem;
              border: $primary-color solid 1.5px;

              &::after {
                width: 0.85rem;
                height: 0.85rem;
              }
            }

            .new-task {
              font-size: 1.1rem;
              padding-left: 0.6rem;

              .due-date {
                font-size: 0.6rem;
              }

              .delete-btn {
                font-size: 0.7rem;
              }
            }
          }
        }
      }

      .primary-btn {
        .add-btn {
          top: 380px;
          height: 40px;
          width: 40px;
          font-size: 1.6rem;
        }
      }
    }

    .upload-page {
      .modal-container {
        width: 300px;
        height: 450px;

        #form {
          margin-bottom: 3rem;
          .form-data {
            label {
              font-size: 1rem;
            }

            .upload-input {
              width: 9rem;
              font-size: 0.7rem;
            }
          }
        }
      }

      .modal-btn {
        .upload-btn {
          font-size: 1rem;
          padding: 0.7rem 1rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
